
/venv/
./.idea
.idea
*.json
*.xlsx
*.csv
.history/
.vscode/
*.sql
*.zip
*.gif
*.png
*.pptx
*.pdf
*.docx
*.xml
*.xls
*.cfg
*.doc
*.jpg
*.jpeg
*.mp4
*.rar
*.apk
/__pycache__/
/tianyancha/conf/env.py
/tianyancha/conf/__pycache__
/bid_project/conf/env.py
/tianyancha/tyc_intellectual_property_data/tyc_get_patentid.py
/tianyancha/aqc/
/tianyancha/tyc_business_data/tyc_get_bid_id.py
